# Sentiment Analysis with Hotel Reviews - Processing the Data

## Exercise - Data exploration

### Load the data
That's enough examining the data visually, now you'll write some code and get some answers! This section uses the pandas library. Your very first task is to ensure you can load and read the CSV data. The pandas library has a fast CSV loader, and the result is placed in a dataframe, as in previous lessons. The CSV we are loading has over half a million rows, but only 17 columns. Pandas gives you lots of powerful ways to interact with a dataframe, including the ability to perform operations on every row.

From here on in this lesson, there will be code snippets and some explanations of the code and some discussion about what the results mean. Use the included notebook.ipynb for your code.

Let's start with loading the data file you be using:

In [ ]:
# Load the hotel reviews from CSV
import pandas as pd
import time
# importing time so the start and end time can be used to calculate file loading time
print("Loading data file now, this could take a while depending on file size")
start = time.time()
# df is 'DataFrame' - make sure you downloaded the file to the data folder
df = pd.read_csv('Hotel_Reviews.csv')
end = time.time()
print("Loading took " + str(round(end - start, 2)) + " seconds")

Loading data file now, this could take a while depending on file size
Loading took 0.06 seconds

Now that the data is loaded, we can perform some operations on it. Keep this code at the top of your program for the next part.

## Explore the data
In this case, the data is already clean, that means that it is ready to work with, and does not have characters in other languages that might trip up algorithms expecting only English characters.

âœ… You might have to work with data that required some initial processing to format it before applying NLP techniques, but not this time. If you had to, how would you handle non-English characters?

Take a moment to ensure that once the data is loaded, you can explore it with code. It's very easy to want to focus on the Negative_Review and Positive_Review columns. They are filled with natural text for your NLP algorithms to process. But wait! Before you jump into the NLP and sentiment, you should follow the code below to ascertain if the values given in the dataset match the values you calculate with pandas.

### Dataframe operations
The first task in this lesson is to check if the following assertions are correct by writing some code that examines the data frame (without changing it).

Like many programming tasks, there are several ways to complete this, but good advice is to do it in the simplest, easiest way you can, especially if it will be easier to understand when you come back to this code in the future. With dataframes, there is a comprehensive API that will often have a way to do what you want efficiently.

Treat the following questions as coding tasks and attempt to answer them without looking at the solution.

Print out the shape of the data frame you have just loaded (the shape is the number of rows and columns)
Calculate the frequency count for reviewer nationalities:
How many distinct values are there for the column Reviewer_Nationality and what are they?
What reviewer nationality is the most common in the dataset (print country and number of reviews)?
What are the next top 10 most frequently found nationalities, and their frequency count?
What was the most frequently reviewed hotel for each of the top 10 most reviewer nationalities?
How many reviews are there per hotel (frequency count of hotel) in the dataset?
While there is an Average_Score column for each hotel in the dataset, you can also calculate an average score (getting the average of all reviewer scores in the dataset for each hotel). Add a new column to your dataframe with the column header Calc_Average_Score that contains that calculated average.
Do any hotels have the same (rounded to 1 decimal place) Average_Score and Calc_Average_Score?
Try writing a Python function that takes a Series (row) as an argument and compares the values, printing out a message when the values are not equal. Then use the .apply() method to process every row with the function.
Calculate and print out how many rows have column Negative_Review values of "No Negative"
Calculate and print out how many rows have column Positive_Review values of "No Positive"
Calculate and print out how many rows have column Positive_Review values of "No Positive" and Negative_Review values of "No Negative"

### Code answers
Print out the shape of the data frame you have just loaded (the shape is the number of rows and columns)

In [ ]:
print("The shape of the data (rows, cols) is " + str(df.shape))

The shape of the data (rows, cols) is (6385, 17)

Calculate the frequency count for reviewer nationalities:

How many distinct values are there for the column Reviewer_Nationality and what are they?
What reviewer nationality is the most common in the dataset (print country and number of reviews)?

In [ ]:
# value_counts() creates a Series object that has index and values in this case, the country and the frequency they occur in reviewer nationality
nationality_freq = df["Reviewer_Nationality"].value_counts()
print("There are " + str(nationality_freq.size) + " different nationalities")
# print first and last rows of the Series. Change to nationality_freq.to_string() to print all of the data
print(nationality_freq)

There are 105 different nationalities
 United Kingdom               3838
 United States of America      397
 Australia                     269
 Ireland                       214
 Canada                        110
                              ...
 Rwanda                          1
 Montenegro                      1
 Serbia                          1
 Honduras                        1
 Maldives                        1
Name: Reviewer_Nationality, Length: 105, dtype: int64

What are the next top 10 most frequently found nationalities, and their frequency count?

In [ ]:
print("The highest frequency reviewer nationality is " + str(nationality_freq.index[0]).strip() + " with " + str(nationality_freq[0]) + " reviews.")
# Notice there is a leading space on the values, strip() removes that for printing
# What is the top 10 most common nationalities and their frequencies?
print("The next 10 highest frequency reviewer nationalities are:")
print(nationality_freq[1:11].to_string())

The highest frequency reviewer nationality is United Kingdom with 3838 reviews.
The next 10 highest frequency reviewer nationalities are:
 United States of America     397
 Australia                    269
 Ireland                      214
 Canada                       110
 United Arab Emirates          85
 Switzerland                   79
 Netherlands                   76
 Saudi Arabia                  66
 France                        66
 Germany                       61

What was the most frequently reviewed hotel for each of the top 10 most reviewer nationalities?

In [ ]:
# What was the most frequently reviewed hotel for the top 10 nationalities
# Normally with pandas you will avoid an explicit loop, but wanted to show creating a new dataframe using criteria (don't do this with large amounts of data because it could be very slow)
for nat in nationality_freq[:10].index:
   # First, extract all the rows that match the criteria into a new dataframe
   nat_df = df[df["Reviewer_Nationality"] == nat]
   # Now get the hotel freq
   freq = nat_df["Hotel_Name"].value_counts()
   print("The most reviewed hotel for " + str(nat).strip() + " was " + str(freq.index[0]) + " with " + str(freq[0]) + " reviews.")

The most reviewed hotel for United Kingdom was The Park Grand London Paddington with 987 reviews.
The most reviewed hotel for United States of America was The Park Grand London Paddington with 95 reviews.
The most reviewed hotel for Australia was The Park Grand London Paddington with 84 reviews.
The most reviewed hotel for Ireland was The Park Grand London Paddington with 64 reviews.
The most reviewed hotel for Canada was The Park Grand London Paddington with 38 reviews.
The most reviewed hotel for United Arab Emirates was The Park Grand London Paddington with 38 reviews.
The most reviewed hotel for Switzerland was Apex Temple Court Hotel with 28 reviews.
The most reviewed hotel for Netherlands was The Park Grand London Paddington with 18 reviews.
The most reviewed hotel for Saudi Arabia was The Park Grand London Paddington with 30 reviews.
The most reviewed hotel for France was The Principal London with 16 reviews.

How many reviews are there per hotel (frequency count of hotel) in the dataset?

In [ ]:
# First create a new dataframe based on the old one, removing the uneeded columns
hotel_freq_df = df.drop(["Hotel_Address", "Additional_Number_of_Scoring", "Review_Date", "Average_Score", "Reviewer_Nationality", "Negative_Review", "Review_Total_Negative_Word_Counts", "Positive_Review", "Review_Total_Positive_Word_Counts", "Total_Number_of_Reviews_Reviewer_Has_Given", "Reviewer_Score", "Tags", "days_since_review", "lat", "lng"], axis = 1)

# Group the rows by Hotel_Name, count them and put the result in a new column Total_Reviews_Found
hotel_freq_df['Total_Reviews_Found'] = hotel_freq_df.groupby('Hotel_Name').transform('count')

# Get rid of all the duplicated rows
hotel_freq_df = hotel_freq_df.drop_duplicates(subset = ["Hotel_Name"])
display(hotel_freq_df)

,Hotel_Name,Total_Number_of_Reviews,Total_Reviews_Found
0,Hotel Arena,1403.0,405.0
405,K K Hotel George,1831.0,566.0
971,Apex Temple Court Hotel,2619.0,1037.0
2008,The Park Grand London Paddington,4380.0,1770.0
3778,Monhotel Lounge SPA,171.0,35.0
3813,Kube Hotel Ice Bar,197.0,19.0
3832,The Principal London,3150.0,1425.0
5257,Park Plaza County Hall London,6117.0,1127.0
6384,NaN,NaN,NaN

You may notice that the counted in the dataset results do not match the value in Total_Number_of_Reviews. It is unclear if this value in the dataset represented the total number of reviews the hotel had, but not all were scraped, or some other calculation. Total_Number_of_Reviews is not used in the model because of this unclarity.

While there is an Average_Score column for each hotel in the dataset, you can also calculate an average score (getting the average of all reviewer scores in the dataset for each hotel). Add a new column to your dataframe with the column header Calc_Average_Score that contains that calculated average. Print out the columns Hotel_Name, Average_Score, and Calc_Average_Score.

In [ ]:
# define a function that takes a row and performs some calculation with it
def get_difference_review_avg(row):
  return row["Average_Score"] - row["Calc_Average_Score"]

# 'mean' is mathematical word for 'average'
df['Calc_Average_Score'] = round(df.groupby('Hotel_Name').Reviewer_Score.transform('mean'), 1)

# Add a new column with the difference between the two average scores
df["Average_Score_Difference"] = df.apply(get_difference_review_avg, axis = 1)

# Create a df without all the duplicates of Hotel_Name (so only 1 row per hotel)
review_scores_df = df.drop_duplicates(subset = ["Hotel_Name"])

# Sort the dataframe to find the lowest and highest average score difference
review_scores_df = review_scores_df.sort_values(by=["Average_Score_Difference"])

display(review_scores_df[["Average_Score_Difference", "Average_Score", "Calc_Average_Score", "Hotel_Name"]])

,Average_Score_Difference,Average_Score,Calc_Average_Score,Hotel_Name
3778,-0.4,8.4,8.8,Monhotel Lounge SPA
971,-0.1,9.2,9.3,Apex Temple Court Hotel
0,-0.1,7.7,7.8,Hotel Arena
405,-0.1,8.5,8.6,K K Hotel George
2008,0.0,7.7,7.7,The Park Grand London Paddington
3832,0.0,8.0,8.0,The Principal London
5257,0.2,8.4,8.2,Park Plaza County Hall London
3813,1.3,7.2,5.9,Kube Hotel Ice Bar
6384,NaN,NaN,NaN,NaN

You may also wonder about the Average_Score value and why it is sometimes different from the calculated average score. As we can't know why some of the values match, but others have a difference, it's safest in this case to use the review scores that we have to calculate the average ourselves. That said, the differences are usually very small, here are the hotels with the greatest deviation from the dataset average and the calculated average:

With only 1 hotel having a difference of score greater than 1, it means we can probably ignore the difference and use the calculated average score.

Calculate and print out how many rows have column Negative_Review values of "No Negative"

Calculate and print out how many rows have column Positive_Review values of "No Positive"

Calculate and print out how many rows have column Positive_Review values of "No Positive" and Negative_Review values of "No Negative"

In [ ]:
# with lambdas:
start = time.time()
no_negative_reviews = df.apply(lambda x: True if x['Negative_Review'] == "No Negative" else False , axis=1)
print("Number of No Negative reviews: " + str(len(no_negative_reviews[no_negative_reviews == True].index)))

no_positive_reviews = df.apply(lambda x: True if x['Positive_Review'] == "No Positive" else False , axis=1)
print("Number of No Positive reviews: " + str(len(no_positive_reviews[no_positive_reviews == True].index)))

both_no_reviews = df.apply(lambda x: True if x['Negative_Review'] == "No Negative" and x['Positive_Review'] == "No Positive" else False , axis=1)
print("Number of both No Negative and No Positive reviews: " + str(len(both_no_reviews[both_no_reviews == True].index)))
end = time.time()
print("Lambdas took " + str(round(end - start, 2)) + " seconds")

Number of No Negative reviews: 1451
Number of No Positive reviews: 470
Number of both No Negative and No Positive reviews: 1
Lambdas took 0.14 seconds

## Another way
Another way count items without Lambdas, and use sum to count the rows:

In [ ]:
# without lambdas (using a mixture of notations to show you can use both)
start = time.time()
no_negative_reviews = sum(df.Negative_Review == "No Negative")
print("Number of No Negative reviews: " + str(no_negative_reviews))

no_positive_reviews = sum(df["Positive_Review"] == "No Positive")
print("Number of No Positive reviews: " + str(no_positive_reviews))

both_no_reviews = sum((df.Negative_Review == "No Negative") & (df.Positive_Review == "No Positive"))
print("Number of both No Negative and No Positive reviews: " + str(both_no_reviews))

end = time.time()
print("Sum took " + str(round(end - start, 2)) + " seconds")

Number of No Negative reviews: 1451
Number of No Positive reviews: 470
Number of both No Negative and No Positive reviews: 1
Sum took 0.02 seconds

You may have noticed that there are 127 rows that have both "No Negative" and "No Positive" values for the columns Negative_Review and Positive_Review respectively. That means that the reviewer gave the hotel a numerical score, but declined to write either a positive or negative review. Luckily this is a small amount of rows (127 out of 515738, or 0.02%), so it probably won't skew our model or results in any particular direction, but you might not have expected a data set of reviews to have rows with no reviews, so it's worth exploring the data to discover rows like this.

Now that you have explored the dataset, in the next lesson you will filter the data and add some sentiment analysis.